In [1]:
import os
from os import chdir
from glob import glob
import pandas as pd
import csv 
import numpy as np

In [5]:
# Create a DataFrame
file1 = "JC-202010-citibike-tripdata.csv"
file2 = "JC-202011-citibike-tripdata.csv"
file3 = "JC-202012-citibike-tripdata.csv"

october_df = pd.read_csv(file1)
november_df = pd.read_csv(file2)
december_df = pd.read_csv(file3)

october_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
1,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
2,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
3,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
4,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30081,1054,2020-10-31 23:32:22.8650,2020-10-31 23:49:57.5320,3198,Heights Elevator,40.748716,-74.040443,3678,Fairmount Ave,40.725726,-74.071959,17231,Customer,1969,0
30082,156,2020-10-31 23:33:22.7310,2020-10-31 23:35:59.4930,3185,City Hall,40.717732,-74.043845,3681,Grand St,40.715178,-74.037683,46532,Subscriber,1981,1
30083,1858,2020-10-31 23:37:01.7010,2020-11-01 00:07:59.7530,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,1
30084,1809,2020-10-31 23:37:46.1430,2020-11-01 00:07:55.2740,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,45341,Subscriber,1999,1
30085,395,2020-10-31 23:40:06.3530,2020-10-31 23:46:42.0640,3481,York St,40.716490,-74.041050,3273,Manila & 1st,40.721651,-74.042884,45647,Subscriber,1967,1

In [6]:
# Check the datatypes
october_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [7]:
november_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [20]:
# Tripduration as delta, start and end as datetimes
october_df['tripduration'] = pd.to_timedelta(october_df['tripduration'], unit='s')
october_df['starttime'] = pd.to_datetime(october_df['starttime'])
october_df['stoptime'] = pd.to_datetime(october_df['stoptime'])

november_df['tripduration'] = pd.to_timedelta(november_df['tripduration'], unit='s')
november_df['starttime'] = pd.to_datetime(november_df['starttime'])
november_df['stoptime'] = pd.to_datetime(november_df['stoptime'])

december_df['tripduration'] = pd.to_timedelta(december_df['tripduration'], unit='s')
december_df['starttime'] = pd.to_datetime(december_df['starttime'])
december_df['stoptime'] = pd.to_datetime(december_df['stoptime'])

In [22]:
# Check the datatypes again

#october_df.dtypes
#november_df.dtypes
december_df.dtypes

tripduration               timedelta64[ns]
starttime                   datetime64[ns]
stoptime                    datetime64[ns]
start station id                     int64
start station name                  object
start station latitude             float64
start station longitude            float64
end station id                       int64
end station name                    object
end station latitude               float64
end station longitude              float64
bikeid                               int64
usertype                            object
birth year                           int64
gender                               int64
dtype: object

In [26]:
# Gender needs to be changed from int
# I looked it up, for gender it is (Zero=unknown; 1=male; 2=female);

gender_mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}
october_df['gender'] = october_df['gender'].replace(gender_mapping)
november_df['gender'] = november_df['gender'].replace(gender_mapping)
december_df['gender'] = december_df['gender'].replace(gender_mapping)

In [27]:
print(october_df['gender'])

0           Male
1           Male
2         Female
3           Male
4           Male
          ...
30081    Unknown
30082       Male
30083       Male
30084       Male
30085       Male
Name: gender, Length: 30086, dtype: object

In [28]:
october_df.to_csv('october_cleaned.csv', index=False)

In [29]:
november_df.to_csv('november_cleaned.csv', index=False)

In [30]:
december_df.to_csv('december_cleaned.csv', index=False)